section {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    width: 100%;
}
article{
    position: sticky;
    width: 230px;
    height: 100vh;
    padding-left: 15px;
}
.filter{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
}
.filter img{
    width: 40px;
}
.line{
    position: relative;
    border: 2px rgb(215, 14, 14) solid;
    width: 210px;
    top: 15px;
    left: 0;
}
.card
{
    position: relative;
    top: 50px;
}
.card2{
    position: relative;
    top: 50px;
}
.checkbox{
    display: grid;
    
}
.checkbox div label{
    margin-left: 10px;
}
.checkbox div{
    margin: 10px 0 10px 30px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.art-grid-gallery button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: transparent;
}
#show-more {
    margin: 20px 0 40px 0;
    width: 79.2vw;
    position: relative;
    display: grid;
    justify-content: center;
    left: 250px;
    top: 10px;
}
#show-more button{
    margin: 0;
}
.art-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 40px;
    column-gap: 20px;
    width: 80vw;
}